.map-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.map-modal-container.show-map-modal {
  display: block;
}

.map-modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: 1s;
}

.map-modal-container .map-modal .map-header {
  background-color: #0f4c81;
  color: #fff;
  padding: 12px;
}
.map-modal-container h3 {
  margin: 0;
}

.map-modal-container .map-body {
  width: 400px;
  max-width: 100vw;
  height: 400px;
  max-height: 100vw;
}

.map-modal-container .map-close-btn {
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  background: transparent;
  font-size: 20px;
  color: #fff;
  outline: none;
}

.map-modal-container .map-close-btn:active {
  font-size: 22px;
  padding: 11px;
}

.map-marker {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
  display: block;
  -webkit-user-select: none;
  position: absolute;
  width: auto;
  height: 45px;
  left: 0px;
  top: 0px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
