@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:Regular");

* {
  box-sizing: border-box;
}
:root {
  --main-color: #0f4c81;
  --submain-color: #006b6d;
  --plenty-color: #37bd6f;
  --some-color: #f0c802;
  --few-color: #e74c3c;
  --empty-color: #999;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  background-color: #eceff1;
  font-family: "Do Hyeon", "Noto Sans KR", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-content {
  position: fixed;
  top: 75px;
  left: 20px;
  z-index: 100;
  display: flex;
  justify-content: center;
  border-radius: 5px  ;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.search-content input {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 70vw;
  height: 40px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-content input:focus::placeholder {
  color: transparent;
}

.search-content button {
  cursor: pointer;
  background-color: var(--submain-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  height: 40px;
  font-size: 16px;
  padding: 5px 15px;
  font-weight: bold;
  outline: none;
}


.map-container {
  width: 100%;
  height: 100%;
}


@media (max-width: 500px) {
  .search-content {
    top: 55px;
  }
}

@media (max-width: 400px) {
  .search-content {
    top: 50px;
  }
}