@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
/* 청록 #2BA5BA
#66cccc
#81D8D0
짙청 #355B7F
주황 #FF8224
초록 #2ecc71
노랑 #F7E600
빨강 #e74c3c
회색 #777 */

* {
  box-sizing: border-box;
}

:root {
  --main-color: #0f4c81;
  --submain-color: #006B6D;
  --plenty-color: #2ecc71;
  --some-color: #f7d117;
  --few-color: #e74c3c;
  --empty-color: #999;
}
p {
  margin: 0;
}

body {
  background-color: #f9fafb;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
}

header h1 {
  letter-spacing: 3px;
  font-size: 50px;
  margin-bottom: 0px;
}
header p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}
header p strong {
  color: #66cccc;
}

header div p {
  margin: 0px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter input {
  border: 0;
  width: 30vw;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filter button {
  cursor: pointer;
  background-color: var(--submain-color);
  border: 2px solid var(--submain-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  font-weight: bold;
}
.stock-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stock-info ul li {
  
  color: #f9fafb;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 0 8px;
  border-radius: 20px;
  width: 80px;
}
#all {
  background-color: #000;
  border: 1px solid #000
}
#plenty {
  background-color: var(--plenty-color);
  border-color: var(--plenty-color);
}
#some {
  background-color: var(--some-color);
  border-color: var(--some-color);
}
#few {
  background-color: var(--few-color);
  border-color: var(--few-color);
}
#empty {
  background-color: var(--empty-color);
  border-color: var(--empty-color);
}
.stock-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  border-radius: 20px;
}

.stock-text {
  letter-spacing: 1px;
}
.icon {
  color: #fff;
}

.search-list {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 800px;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.01);
}

.plenty {
  border-color: var(--plenty-color);
  /* background-color: ; */
}
.some {
  border-color: var(--some-color);
  /* background-color: ; */
}
.few {
  border-color: var(--few-color);
  /* border:0;
  background-color: rgb(231, 77, 60,0.3); */
}
.empty {
  border-color: var(--empty-color);
  /* background-color: rgb(153, 153, 153,0.2); */
}

.first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
}

p.name {
  font-size: 18px;
  letter-spacing: 1px;
}

.second-line {
  text-align: left;
  padding: 0 5px;
}
.third-line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0 5px 0;
}

p.category {
  width: 10%;
  text-align: center;
  font-size: 14px;
  padding: 2px;
  border: 1px solid var(--submain-color);
  border-radius: 2px;
}

p.content {
  width: 23%;
  text-align: center;
  font-size: 13px;
  margin: 0 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
