
header {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  color: #0f4c81;
  color: var(--main-color);
}

header h1 {
  letter-spacing: 3px;
  font-size: 50px;
  margin-bottom: 0px;
}
header h3 {
  margin-bottom: 5px;
}
header p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}
header p strong {
  color: #0f4c81;
  color: var(--main-color);
}

header .header-content {
  font-family: "Noto Sans KR", sans-serif;
  font-size: larger;
  color: #000;
}
header .header-content p {
  margin: 0;
}

/* selector part */

.address-select {
  margin: 20px 0;
}
.select-head {
  color: #333;
}

.select-content {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.address-select select {
  font-size: 12px;
  width: 80px;
  margin: 0 5px;
  text-align-last: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: 0;
}
.address-select select:focus {
  box-shadow: 0 0 4px #0f4c81;
  box-shadow: 0 0 4px var(--main-color);
}

.second-area {
  display: none;
}
.third-area {
  display: none;
}
.fourth-area {
  display: none;
}
.address-select button {
  margin: 0 5px;
  cursor: pointer;
  background-color: #006b6d;
  background-color: var(--submain-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  outline: none;
}
.address-select button:active {
  background-color: #0f4c81;
  background-color: var(--main-color);
}

/* search-box part */
.search-box {
  margin: 20px 0;
}

.search-head {
  color: #333;
}

.search-head select {
  font-size: 14px;
  width: 60px;
  padding: 4px;
  text-align-last: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: 0;
}
.search-head select:focus {
  box-shadow: 0 0 4px #0f4c81;
  box-shadow: 0 0 4px var(--main-color);
}

.search-content {
  display: flex;
  justify-content: center;
  margin: 15px 0 10px 0;
}

.search-content input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30vw;
  min-width: 350px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-content input:focus::placeholder {
  color: transparent;
}

.search-content button {
  cursor: pointer;
  background-color: #006b6d;
  background-color: var(--submain-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  font-weight: bold;
  outline: none;
}

.search-content button:active {
  background-color: #0f4c81;
  background-color: var(--main-color);
}

.duplicate-address {
  display: none;
  font-size: 12px;
  width: 220px;
  max-width: 60vw;
  height: 25px;
  margin: 0 5px;
  text-align-last: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: 0;
}
.duplicate-address:focus {
  box-shadow: 0 0 4px #0f4c81;
  box-shadow: 0 0 4px var(--main-color);
}